###
# Development files
###
*.egg-info
_skbuild
pyflann/lib

*.save
flann.kdev4

.coverage
test/*.h5
test/*.pkl
test/*.idx
test/*.dat
test/*.bz2
test/flann_multithreaded_test
test/flann_simple_test
test/flann_uint_autotune.py


###
# Build files
###
src/python
cmake-builds/*
tmp
*.pyc
*.pyo

.DS_Store
