*.save
.*
tmp
*.pyc
*.pyo
cmake_builds
src/python/setup.py
src/python/build
src/matlab/*.dat
src/matlab/test.m

test/*.h5
test/*.pkl
test/*.idx
test/*.dat
test/*.bz2
test/flann_multithreaded_test
test/flann_simple_test
test/flann_uint_autotune.py

flann.kdev4
TODO

#CMakeCache.txt
#CMakeFiles/
#build
#build_win
#dist/

#src/python/setup.py
#src/python/flann.egg-info/
